<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    <display-name>Rothc Process-based SADI Services</display-name>
    <servlet>
        <servlet-name>fetchRothcInputClayParams</servlet-name>
        <servlet-class>uk.ac.rothamsted.ide.FetchRothcInputClayParams</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchRothcInputDepthParams</servlet-name>
        <servlet-class>uk.ac.rothamsted.ide.FetchRothcInputDepthParams</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchRothcInputIomParams</servlet-name>
        <servlet-class>uk.ac.rothamsted.ide.FetchRothcInputIomParams</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchRothcInputNstepsParams</servlet-name>
        <servlet-class>uk.ac.rothamsted.ide.FetchRothcInputNstepsParams</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchRothcInputParams</servlet-name>
        <servlet-class>uk.ac.rothamsted.ide.FetchRothcInputParams</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchRothcMonthlyDataParams</servlet-name>
        <servlet-class>uk.ac.rothamsted.ide.FetchRothcMonthlyDataParams</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchRothcMonthlyDataParams2</servlet-name>
        <servlet-class>uk.ac.rothamsted.ide.FetchRothcMonthlyDataParams2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>fetchRothcInputClayParams</servlet-name>
        <url-pattern>/fetchRothcInputClayParams</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchRothcInputDepthParams</servlet-name>
        <url-pattern>/fetchRothcInputDepthParams</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchRothcInputIomParams</servlet-name>
        <url-pattern>/fetchRothcInputIomParams</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchRothcInputNstepsParams</servlet-name>
        <url-pattern>/fetchRothcInputNstepsParams</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchRothcInputParams</servlet-name>
        <url-pattern>/fetchRothcInputParams</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchRothcMonthlyDataParams</servlet-name>
        <url-pattern>/fetchRothcMonthlyDataParams</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchRothcMonthlyDataParams2</servlet-name>
        <url-pattern>/fetchRothcMonthlyDataParams2</url-pattern>
    </servlet-mapping>
</web-app>

